body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.678);
}
ul {
margin-left: 332px;
text-align: justify;
}
li{
    font-size: 20px;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    width: 900px;
    border: solid 2px rgba(36, 35, 35, 0.822);
}
.img{
    background: white;
    padding: 10px;
    margin: 0;
    height: 534px;
}
#img-caption{
    max-width: 100%;
    width: 900px;
    font-size: 15px;
    text-align: center;
    margin-right: 561px;
    color: rgba(0, 0, 0, 0.76);
}
h3{
    padding-right: 100px;
    padding-bottom: 25px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.904);
}
li{
padding: 9px;
font-size: 16px;
}
h2{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.534);
}
h1{
    color: rgba(0, 0, 0, 0.76);
    padding-top: 20px;
    font-size: 40px;
    margin: 0;
    padding-bottom: 20px;
}
.phrase{
    margin-left: 332px;
    text-align: justify;
    padding: 9px;
    font-size: 15px;
    color: rgb(124, 123, 123);
}
#end{
    font-size: 19px;
    margin-bottom: 55px;
    color:rgba(0, 0, 0, 0.76)
}
@media only screen and (max-width: 995px){
ul{
    margin-left: -8px;
}
.phrase {
    margin-left: 8px;
}
#end {
    margin-left: 7px;
    max-width: 100%;

}
}
@media only screen and (max-width: 414px){
    .img{
        height: 196px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 996px){
    ul {
        margin-left: 187px;
    }
    li{
        font-size:25px;
    }
    .phrase {
        margin-left: 120px;
    font-size:23px;
    }
}
